/* ordersTable.css */
.orders-table-container {
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
}

.orders-table-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  background-color: #fff;
  border-radius: 12px;
  overflow: auto;
}

.orders-table th,
.orders-table td {
  padding: 15px;
  text-align: center;
}

.orders-table th {
  background-color: #007bff;
  color: #fff;
  font-weight: 700;
}

.orders-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.orders-table tr:hover {
  background-color: #e0e7ff;
}

.orders-table td {
  color: #555;
  font-weight: 500;
}

.status {
  font-weight: 600;
}

.status.completed {
  color: #357fef;
}

.status.Processing {
  color: #ffd328;
}

.status.pending {
  color: #ff2828;
}
.orders-table-container .search-bar-container {
  margin-bottom: 20px;
}

.orders-table-container .search-bar {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-team-member-container {
  margin-bottom: 20px;
}