body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkitscroll-behavior: smooth;
}
::-webkit-scrollbar{
  background-color: transparent;
   width: 12px;
}
::-webkit-scrollbar-track{
  background-color: transparent;

}
::-webkit-scrollbar-thumb{
  background-color: #ffd328;
  border-radius: 3px;
  cursor: pointer;
}

code {
  font-family: 'Poppins';
}
